body {
   font-family: Arial, sans-serif;
    margin: 0;
}
.menu {
    width: 200px;
}
.menu-title {
    background-color: #f47e00;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.menu-list li {
    margin: 10px;
}
.menu:hover .menu-list {
    display: block; 
}