 body {
    margin: 0;
    padding: 0;
    }
table {
    width: 100%;
    }
 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    }
.box1 {
    background-color: lightblue;
    width: 50%;
    }
.box2 {
    background-color: lightgreen;
    width: 50%;
    }
       